[defaults]
inventory = inventory
roles_path = roles
log_path = /var/log/ansible.log
[ssh_connection]
#ssh_args = -o IdentityFile=~/.ssh/son-install.pem -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no
