---
# tasks file for docker

- include: centos6.yml
  when: ansible_distribution == "CentOS" and ansible_distribution_major_version == "6"

- include: centos7.yml
  when: ansible_distribution == "CentOS" and ansible_distribution_major_version == "7"


- include: ubuntu.yml
  when: ansible_distribution == "Ubuntu"

- name: create a directory if it doesn't exist
  file: path=/etc/ansible/group_vars state=directory mode=0755

- name: create global/vars file for Ansible
  copy: src=group_vars.all dest=/etc/ansible/group_vars/all owner=root group=root mode=0644
