KUBELET_ADDRESS="--address=0.0.0.0"
KUBELET_PORT="--port=10250"
# change the hostname to this host’s IP address
KUBELET_HOSTNAME="--hostname_override={{ ansible_hostname }}"
KUBELET_API_SERVER="--api_servers=http://kubemaster00:8080"
KUBELET_ARGS=""
